ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
* { box-sizing: border-box }
ul li {
    display: inline-block;
    width: 20%; height: 10%; margin: 10px;
    border: 10px dashed;
}