.japan {
  float: left;
  margin:0px;
  vertical-align: middle;
}
 
  ul {
  list-style: none;
  float: left;
  margin:0px;
  }


.pyonpyon span {
    animation: pyon 0.3s linear;
    position: relative;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}