ul,li{
    padding: 0;
    margin: 0;
    /*list-style-type: none;*/
    text-align: left;
}
#scroller {
    height: 200px;
    overflow: auto;
}
.panel-body{
    background:white;
}
.panel-default{
    background-color: white;
    width:400px;
    height:100px;
    position: fixed;
    bottom: 30%;
    right:0;
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: grey;
    border: 0px solid #777;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 15px;
    width: 400px;
    clear: both;
}

/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    color: #fff;
    position: relative;
    background: #0084ff;
    /*#0084ff*/
    border: 0px solid #777;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    width: 300px;
    clear: both;
    float: right;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}



.sender_name{
    margin-bottom: -5px;
    padding-left: 20px;
    color: rgba(20, 0, 0, .40);
}
.sender_name.me{
    float: right;
    padding: 0 20px 0 0;
}

#close{
    width: 31px;
    height: auto;
    position: fixed;
    bottom: 40%;
    right:0;
}