.hirayama, .eigyouman, .kyaku{
    width:380px; /* you can use % */
    height: auto;
    float: left;
    padding:0 65px 0 0;  
    
}

.towa_picture{
    margin-left:120px; 
}



.button{
    margin-left:120px; 
    font-family: "MS Sans Serif";
}

.action-button shadow animate blue,
.action-button shadow animate red,
.action-button shadow animate green{
    float: left;
    
}

