/*戻るボタン*/

#container-example {
  /*position: relative;*/
  padding-top: 0;
}
#container-example *, #container-example *::after, #container-example *::before {
  box-sizing: border-box;
}
#container-example .strip {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #a3d7ef;
}

#container-example a {
    font-size: 9pt;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    letter-spacing: 4px;
    position: relative;
    text-align: center;
    padding: 6px 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 24px;
}


#container-example .colour-4 {
  background: transparent;
}
#container-example .colour-4 a {
  border: 2px solid #fff;
  border-radius: 50px;
  background-image: linear-gradient(-135deg, #fff, #fff 50%, darkred 50%, darkred);
  background-size: 100% 500%;
  background-position: bottom;
  transition: all 0.4s ease;
}
#container-example .colour-4 a:hover {
  background-position: top;
  color: #8d78b1;
}

/*ナブバー*/

#menu {
  width:100%;
  padding:0;
  margin:0;
  list-style-type: none;
}
#menu li {
  width:25%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  text-shadow:0 -1px 0px #333,0 1px 0px #555;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
  /*background-image: -moz-linear-gradient(top, #888 0%, #777 50%, #666 50%, #777 100%);*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(0.50, #777), color-stop(0.50, #666), color-stop(1, #777));*/
}
#menu li a:hover {
  background:#555;
  background-image: -moz-linear-gradient(top, #555 0%, #444 50%, #333 50%, #444 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(0.50, #444), color-stop(0.50, #333), color-stop(1, #444));
}
#menu li:first-child a{
  border-radius:5px 0 0 5px;
}
#menu li:last-child a{
  border-radius:0 5px 5px 0;
}

#home{
  color: pink;
}
#mypage{
  color: gray;
  width: 25%;
}
#oto{
  color: pink;
}
#logout{
  color: gray;
}
#login{
   color: pink;
  
}