.box_6 {
    width: 100%;
    padding: 30px;
    position: relative;
    /*border: double 3px #009FB7;*/
    top: 20%;
    bottom: 0;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 12px;
    }
 

#rankingname{
    position: absolute;
    top: 49%;
    /*left: 37%;*/
}
.gardenden{
    padding-top: 5%;
    width: 100%;
     padding-top: 2%;
}

.border2{
    background-color: darkred;
    font-size: 180%;
    text-align: center;
    color: white;
    margin-top:2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 4px;
    
}
.border3{
    background-color: #F5F5F5;
    font-size: 700%;
    text-align: center;
    color: black;
    /*margin-top:2px;*/
    /*margin-bottom: 2px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 4px;*/
    
}
.hito{
    height: 80%;
    width: 80%;
    padding-left: 10%;
    padding-top: 8%;
    color: black;
    
    
}
.circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgba( 255,255,255, 0.55 );
    margin-left: 43%;
    position: absolute;
    top: 34%;
}
h1{
    font-size: 200%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.oomoji{
    font-size: 600%;
    width: 100%;
}
.tyuumoji{
    font-size: 400%;
}
.komoji{
    font-size: 200%;
}
.ranking{
    font-size: 190px;
}
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 80%;
}
.box1 p {
    margin: 0; 
    padding: 0;
}


.box {
  position      : relative;            /* タイトル用に親要素定義  */
  /*box-sizing    : border-box;           罫線・余白も含む大きさ  */
  margin        : 10px 0 0 20px;       /* BOXの位置 */
  max-width     : 800px;               /* BOXの最大横幅           */
  background    : #fff;                /* BOXの背景色             */
  padding       : 20px 10px 20px 30px; /* BOX内の余白             */
  border        : 3px solid #990000;   /* BOXの枠線               */
  font-size     : 16pt;                /* BOXの文字サイズ         */
  text-align    : center;              /* BOXの文字位置           */
  border-radius : 10px;                /* タイトルの角丸          */
  width: 150%;
}
 
 /* --- タイトル部分の定義 ----------------------------------------*/
.box::before {
  position      : absolute;          /* 親からの相対位置の定義  */
  display       : inline-block;      /* インラインボックス定義  */
  box-sizing    : border-box;        /* 罫線・余白も含む大きさ  */
  line-height   : 2;                 /* 1行の高さを初期化       */
  background    : #990000;           /* タイトル背景色          */
  color         : #ffffff;           /* タイトルの文字色        */
  content       : attr(title);       /* タイトルに[title]を表示 */
  font-weight   : bold;              /* タイトルは太字          */
  padding       : 5px 10px;          /* タイトル内の余白        */
  top           : 0;                 /* タイトル上位置はマイナス*/
  left          : -100px;             /* タイトル右位置は1文字分 */
  border-radius : 6px;               /* タイトルの角丸          */
  font-size     : 20px;              /* タイトルの文字サイズ    */
  transform     : rotate(-30deg);    /* タイトルを斜めにする    */

}