.box_6 {
    width: 50%;
    margin: 60px auto;
    padding: 20px;
    position: relative;
    border: double 3px #009FB7;
    top: 13%;
    margin-top: 0%;
    }
 
.box_6 .box-title {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 210px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #009FB7;
    font-weight: bold;
    }
    
#rankingname{
    position: absolute;
    top: 49%;
    /*left: 37%;*/
}

.cafelogo{
    height: 50%;
    width: 100%;
    
}